body {
	position: relative;
}

.section {
	padding-top: 70px;
	padding-bottom: 70px;
	min-height: 100vh;
}

#section_UnixDEI, #section_Oradores {
	background-color: #fff;
}

#section_Programa, #section_Contactos {
	background-color: #eee;
}

.time {
	text-align: right;
}

#events > .col-xs-1{
	text-align: right;
}

#events > .col-xs-7{
	text-align: center;
}